{% extends 'base.html' %}
{% block body %}
    <div class="title-div">
        <i class="fas fa-utensils fa-4x"></i><br>
        <a class="title">1414</a> <br>
        <a class="sub-title">실시간 식당 예약 서비스</a>
    </div>
    <div class="search">
        <form action ="{% url 'search' %}" method="POST">
                {% csrf_token %}
            <input class="search-txt" type="text" name="this_ad" id="sample6_address" placeholder="지역을 입력해주세요">
            <input class="search-btn" type="submit" value="찾기!"><br>
            <input class="road-search-btn" type="button" onclick="sample6_execDaumPostcode()" value="도로명 주소로 검색하기"><br>
        </form>

    </div>

    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
    <script>
        function sample6_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
    
                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수
    
                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }
                    
                    var addr2 = addr.split(" ");                    

                    
                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById("sample6_address").value = addr2[0] + " " + addr2[1] + " " + addr2[2];
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("sample6_address").focus();
                }
            }).open();
        }
    </script>
    
    
        
    
    <div class="notice1">
        <a>현재 광주광역시 남구 동구 지역만 가능해요</a>
    </div>




{% endblock %}