{% extends 'base.html' %}

{% block body %}
    <div class="Signup-title">
        <a>회원가입</a>
    </div>
    <script type="text/javascript">
        function check_only(chk){
            var obj = document.getElementsByName("type");
            for (var i = 0; i<obj.length; i++){
                if(obj[i] != chk){
                    obj[i].checked = false;
                }
            }
        }
    </script>
    <div class="signup-form">
        <div class="signup-form1">
                <form method="POST" action="{% url 'signup'%}">

                        {% csrf_token %}

            <label for="InputEmail1">계정(이메일)</label><br>
            <input type="email" class="Signup-id" name="username"><br>
            <label for="InputName" style="padding-top: 10px;">이름</label><br>
            <input type="name" class="Name" name="Name"><br>
            <label for="InputPassword" style="padding-top: 10px;">비밀번호</label><br>
            <input type="password" class="Signup-pw" name="password1"><br>
            <label for="InputPassword1" style="padding-top: 10px;">비밀번호(확인)</label><br>
            <input type="password" class="Signup-pw1" name="password2">
            <br>
            <div class="checks">
                <input class="owner" type="checkbox" name = "type" value = "1" onclick="javascript:check_only(this)">사장님    
                <input class="customer" type="checkbox" name = "type" value = "0" onclick="javascript:check_only(this)">손님
            </div>
            
            
        </div>
        <div class="Signup-btn1">
            <button type="submit" class="Signup-btn">회원가입</button>
        
        </form>
        
        </div>
    </div>
{% endblock %}