{% extends 'base.html' %}

{% block body %}


    <div class="Login-title">
        <a>로그인</a>
    </div>

    <div class="form">
        <div class="form1">

            <form method='POST' action="{% url 'signin' %}">
            {% csrf_token %}
            <label for="exampleInputEmail1">계정(이메일)</label><br>
            <input type="email" class="Login-id" name="username" placeholder="ID"><br>
            <label for="exampleInputPassword">비밀번호</label><br>
            <input type="password" class="Login-pw" name="password" placeholder="PassWord">
            <div class="Login-btn1">
                <button type="submit" class="Login-btn">로그인</button>
            </div>
            <div class="GLogin-btn1">
                <button type="button" class="GLogin-btn">Google 계정으로 로그인하기</button>
            <!--
            </div>
            <div class="KLogin-btn1">
                <button type="button" class="KLogin-btn" href="#">카카오 계정으로 로그인하기</button>
            </div>
            -->
        </form>
        <!-- <a id="custom-login-btn" href="javascript:loginWithKakao()">
                <img src="//mud-kage.kakao.com/14/dn/btqbjxsO6vP/KPiGpdnsubSq3a0PHEGUK1/o.jpg" width="300"/>
                </a>
                <script type='text/javascript'>
                  //<![CDATA[
                    // 사용할 앱의 JavaScript 키를 설정해 주세요.
                    Kakao.init('e4920a50b4a9f130fe8a503e4ac5b97f');
                    function loginWithKakao() {
                      // 로그인 창을 띄웁니다.
                    Kakao.Auth.login({
                        success: function(authObj) {
                        alert(JSON.stringify(authObj));
                        },
                        fail: function(err) {
                        alert(JSON.stringify(err));
                        }
                    });
                    };
                  //]]>
                </script> -->

<!-- 이메일: res.kakao_account.email, 고유키: res.id, 이름: res.property.nickname -->


<a class="KLogin-btn1" id="kakao-login-btn">
<script  type='text/javascript'>
  //<![CDATA[
    // 사용할 앱의 JavaScript 키를 설정해 주세요.
    Kakao.init('e4920a50b4a9f130fe8a503e4ac5b97f');
    // 카카오 로그인 버튼을 생성합니다.
    Kakao.Auth.createLoginButton({
    container: '#kakao-login-btn',
    success: function(authObj) {
        // 로그인 성공시, API를 호출합니다.
        Kakao.API.request({
        url: '/v2/user/me',
        success: function(res) {
        alert(JSON.stringify(res));
        var form = document.createElement("form");
            form.setAttribute("charset","UTF-8");
            form.setAttribute("id",res.id);
            form.setAttribute("name",res.properties.nickname);
            form.setAttribute("email",res.kakao_account.email);
            form.setAttribute("method","Post");
            form.setAttribute("action","kakaologin/");
            form.submit();
            // location.href="http://127.0.0.1:8000/accounts/kakaologin/" + test;
        },
        fail: function(error) {
            alert(JSON.stringify(error));
        }
        });
    },
    fail: function(err) {
        alert(JSON.stringify(err));
    }
    });
  //]]>
</script>

</a>

        </div>
    </div>
    
{% endblock %}