{% extends 'base.html' %}

{% block body %}
<div style="margin: auto; width: 60vw">
    <h1>예약자 현황</h1> <br>
    <a>{{user.username}} 사장님의 예약자 현황입니다!</a><br>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">예약자명</th>
                <th scope="col">예약 날짜</th>
                <th scope="col">예약인원</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>홍길동</td>
                <td>8/4 13:00</td>
                <td>3명</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>조정석</td>
                <td>8/4 14:00</td>
                <td>1명</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>강지영</td>
                <td>8/4 14:30</td>
                <td>4명</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}