{% extends 'base.html' %}

{% block body %}
<h1>매장 수정하기</h1> <br>
<a>사용자들이 가게정보를 볼수있도록 추가/수정하는 페이지입니다.</a><br><br>
<a>매장명</a>
<p>매장명을 수정할수 있는 부분입니다.</p>
<a>매장 소개</a>
<p>가게소개을 할수있는 부분입니다.</p>
<a>대표메뉴</a>
<p>대표메뉴를 수정할수있는 부분입니다.</p>
<div class="FoodMenu">
    <h5>대표메뉴</h5>
    <ol>메뉴1</ol>
    <ol>메뉴2</ol>
    <ol>메뉴3</ol>
</div>
<a>가게 위치 소개</a>
<p>가게 위치를 수정할수 있는 부분입니다.</p>
<a href="#">지도 등록하기</a><br>
<!--지도 API 들어가는 부분-->
<a>지도 API 들어가는 부분</a> <br>

<a href="{% url 'management' %}">수정완료</a> <a href="#">취소하기</a>
{% endblock %}

