{% extends 'base.html' %}

{% block body %}
<h1>예약자 현황</h1> <br>
<a>{{user.username}} 사장님의 예약자 현황입니다!</a><br>

<table class="table table-striped">
    <thead>
        <tr>
        <th scope="col"></th>
        <th scope="col">예약자명</th>
        <th scope="col">예약 날짜</th>
        <th scope="col">예약인원</th>
        </tr>
    </thead>
    <tbody>
        {% for thing in things %}
        <tr>
        <th scope="row"></th>
        <td>{{thing.user}}</td>
        <td>{{thing.reser_date}} {{thing.reser_time}}</td>
        <td>{{thing.reser_sum}}명</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class = 'container'>
        {% if things.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{things.previous_page_number}}">Previous</a>
        {% endif %}
    
        <span>{{things.number}}</span>
        <span>of</span>
        <span>{{things.paginator.num_pages}}</span>
    
        {% if things.has_next %}
        <a href="?page={{things.next_page_number}}">Next</a>
        <a href="?page={{things.paginator.num_pages}}">Last</a>
        {% endif %}
        <br>
        <br>
    </div>
{% endblock %}