{% extends 'base.html' %}

{% block body %}
<div class="modify">
    <div class=mod_title>
        <div >
            <h1>매장정보 수정하기</h1>
        </div> 
        <br>
        <div>
            <a>사용자들에게 보여지는 정보를 추가/수정하는 페이지입니다.</a><br><br>
        </div>
    </div>

    <div class="mod_store">
        <div class="store_name">
            <a>매장명</a>
            <p>매장명을 수정할수 있는 부분입니다.</p>
            <input type="text" class="store_name1" name="store_name" placeholder="매장명 입력">
            <br>
        </div>
        <br>
        <div class="store_intro">
            <a>매장 소개</a>
            <p>가게소개을 할수있는 부분입니다.</p>
            <input type="text" class="store_intro1" name="store_intro">
        </div>
        <br>
    </div>
    <div class="mod_menu">
        <a>대표메뉴</a>
        <p>대표메뉴를 수정할수있는 부분입니다.</p>
        <div class="FoodMenu">
            <h5>대표메뉴</h5>

            <div>
                <ol>메뉴1</ol>
                <ol>메뉴2</ol>
                <ol>메뉴3</ol>
            </div>
            
        </div>
    </div>
    <div class="mod_location">
        <a>가게 위치 소개</a>
        <p>가게 위치를 수정할수 있는 부분입니다.</p>
        <input type="text" class="mod_location1" name="mod_location" placeholder="주소 입력">
        <div class="button">
            <a href="#">지도 등록하기</a><br>
        </div>
        <!--지도 API 들어가는 부분-->
        <a>지도 API 들어가는 부분</a> <br>
    </div>
</div>
<a href="{% url 'management' %}">수정완료</a> <a href="#">취소하기</a>
{% endblock %}

