{% extends 'base.html' %}
{% block body %}
{% load static %}
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script>
    function sample6_execDaumPostcode1() {
        new daum.Postcode({
            oncomplete: function (data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById("shop_location_new").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("shop_location_new").focus();
            }
        }).open();
    }
</script>
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script>
    function sample6_execDaumPostcode2() {
        new daum.Postcode({
            oncomplete: function (data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById("shop_location_old").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("shop_location_old").focus();
            }
        }).open();
    }
</script>

<div class=Restaurant_register_frame>
    <form method="POST" action="{% url 'Restaurant_register' %}">
        {% csrf_token %}
        <h1 id=shop-title>매장등록하기</h1>
        <!-- <a id=shop-subtitle>매장을 등록해주세요!</a> -->
        <div class="shop">
            <p style="font-size: 30px;">매장 정보</p>
            <p class=shop-name-frame>
            <a class=shop-name>가게이름</a><br>
                <input class="shop-name-input" type="text" style="width: 400px;" name="shopname"><br>
            </p>
            <p class=shop-img-frame>
                <a>가게이미지 등록하기</a><br>
                <div class="filebox">
                    <label for="profile_img">업로드</label>
                    <input type="file" id="profile_img" name="profile_img">
                </div>
                <!--<input class="shop-img-btn"type="file" accept="image/*" name="profile_img">-->
            </p>
            <p class=shop-info-frame>
                <a>가게 설명</a><br>
                <textarea name="shop_description" style="width: 400px; height:200px; border: 2px solid black; border-radius: 0.5em; resize:none;"></textarea>
            </p>
        </div>
        <div class=food-img-frame>
            <p style="font-size: 30px;">음식 이미지 등록하기</p>
            <a class=food-title>음식1 이미지</a> <br>
            <div class="filebox">
                <label for="food_img1">업로드</label>
                <input type="file" id="food_img1" name="food_img1">
            </div>
            <p class=food-info-frame>
                <a>음식 설명</a><br>
                <textarea name="food_description" style="width: 400px; height:50px;  border: 2px solid black; border-radius: 0.5em; resize:none;"></textarea>
            </p>
            <!--<input type="file" accept="image/*" name="food_img1"> <br>-->
            <a class=food-title>음식2 이미지</a> <br>
            <div class="filebox">
                <label for="food_img2">업로드</label>
                <input type="file" id="food_img2" name="food_img1">
            </div>
            <p class=food-info-frame>
                <a>음식 설명</a><br>
                <textarea name="food_description" style="width: 400px; height:50px;  border: 2px solid black; border-radius: 0.5em; resize:none;"></textarea>
            </p>
            <!--<input type="file" accept="image/*" name="food_img2"> <br>-->
            <a class=food-title>음식3 이미지</a> <br>
            <div class="filebox">
                <label for="food_img3">업로드</label>
                <input type="file" id="food_img3" name="food_img1">
            </div>
            <p class=food-info-frame>
                <a>음식 설명</a><br>
                <textarea name="food_description" style="width: 400px; height:50px;  border: 2px solid black; border-radius: 0.5em; resize:none;"></textarea>
            </p>
            <!--<input type="file" accept="image/*" name="food_img3"> <br>-->
        </div>
        <p class=shop-address-frame>
            <a>가게 신주소 등록하기</a>
            <input class="new-address-btn" type="button" onclick="sample6_execDaumPostcode1()" value="주소 찾기"><br>
            <input class="new-addredd-input" type="text" style="width: 400px;" name="shop_location_new" id="shop_location_new"><br>
            <a>가게 구주소 등록하기</a>
            <input class="new-address-btn" type="button" onclick="sample6_execDaumPostcode2()" value="주소 찾기"><br>
            <input class="new-addredd-input" type="text" style="width: 400px;" name="shop_location_old" id="shop_location_old">
        </p>
        <div class="register-btn">
            <input class="register-btn1" type="submit" value="가게 등록하기"><br><br>
        </div>
        
    </form>
</div>

{% endblock %}