body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}
@media(max-width: 100000px){

    /* main */
    .navbar{
        height: 70px;
        font-size: 20px;
    }
    .title-div{
        margin: auto;
        padding: 20px 0px;
        width:350px;
        text-align: center;
        font-size: 30px;
    }
    .title{
        font-size:100px;
    }
    .search{
        margin: auto;
        float: center;
        text-align: center;
        padding-top: 50px;
    }
    .search-txt{
        height: 50px;
        width: 300px;
        padding: 10px;
        border: 2px solid black;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
        outline: none;
    }
    .search-btn{
        height: 50px;
        width: 70px;
        background: white;
        border: 2px solid black;
        color: #000;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .road-search-btn{
        margin-top: 5px;
        height: 50px;
        width: 375px;
        background: white;
        border: 2px solid black;
        color: #000;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }

    .notice1{
        height:80px;
        width: 650px;
        margin: auto;
        padding-top: 50px;
        text-align: center;
        float: center;
        font-size: 28px;
    }

    /* sign in */

    .Login-title{
        margin:auto;
        padding-top:10px;
        font-size:50px;
        text-align: center;
    }
    .form{
        width:350px;
        margin: auto;
        padding-top: 10px;
        border: 2px;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
        background-color: #f8f9fa;
    }
    .form1{
        margin: auto;
        padding: 10px 20px 10px 20px;
        background-color: #f8f9fa;
    }
    .Login-id{
        margin: auto;
        width: 300px;
        float: center;
        text-align: left;
        border: 2px solid black;
        color: #000;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .Login-pw{
        margin: auto;
        width: 300px;
        float: center;
        text-align: left;
        border: 2px solid black;
        color: #000;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .Login-btn1{
        padding-top: 30px;
    }
    .Login-btn{
        margin: auto;
        height: 40px;
        width: 300px;
        float: center;
        text-align: center;
        border: 2px solid black;
        color: #000;
        background: #f8f9fa;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .GLogin-btn1{
        padding-top: 30px;
    }
    .GLogin-btn{
        margin: auto;
        height: 40px;
        width: 300px;
        float: center;
        text-align: center;
        border: 2px solid black;
        color: white;
        background: #4285f4;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .KLogin-btn1{
        padding-top: 5px;
        width: 300px;
        float: center;
        text-align: center;
    }
    .KLogin-btn{
        margin: auto;
        height: 40px;
        width: 300px;
        float: center;
        text-align: center;
        border: 2px solid black;
        color: #000;
        background: #ffeb00;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }

    /* sign up */

    .Signup-title{
        margin:auto;
        padding-top:50px;
        font-size:50px;
        text-align: center;
        float: center;
    }
    .signup-form{
        width:350px;
        margin: auto;
        padding-top: 10px;
        border: 2px;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
        background-color: #f8f9fa;
    }
    .signup-form1{
        margin: auto;
        padding: 10px 20px 10px 20px; 
        background-color: #f8f9fa;
    }
    .Signup-id{
        margin: auto;
        width: 300px;
        float: center;
        text-align: left;
        border: 2px solid black;
        color: #000;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .Name{
        margin: auto;
        width: 300px;
        float: center;
        text-align: left;
        border: 2px solid black;
        color: #000;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .Signup-pw{
        margin: auto;
        width: 300px;
        float: center;
        text-align: left;
        border: 2px solid black;
        color: #000;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .Signup-pw1{
        margin: auto;
        width: 300px;
        float: center;
        text-align: left;
        border: 2px solid black;
        color: #000;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .checks{
        padding: 30px;
        width: 300px;
        float: center;
        text-align: center;
        font-size: 25px;

    }
    .Signup-btn1{
        padding-top: 15px;
        padding-left: 20px;
    }
    .Signup-btn{
        margin: auto;
        height: 40px;
        width: 300px;
        float: center;
        text-align: center;
        border: 2px solid black;
        color: #000;
        background: #f8f9fa;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }

    /* result */

    .Result-title{
        margin: auto;
        width: 50%;
        font-size:50px;
        padding-left: 10px;
        padding-bottom: 10px;
    }
    .wrapper{
        margin: auto;
        width: 50%;
        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-gap: 10px;
        color: #444;
    }
    .card{
        width:100%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
        padding-bottom: 1px;
    }
    img {
        border-radius: 5px 5px 0 0;
    }

    /* info */

    .Information{
        margin:auto;
        width: 600px;
        padding-bottom: 30px;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    
    }
    .Info-title{
        margin:auto;
        padding-top:20px;
        padding-left:10px;
        padding-bottom:20px;
        font-size:30px;
        text-align: left;
    }
    .FoodPhoto{
        float: center;
        text-align: center;
        border: 1px solid black;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .Reservation-btn{
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }
    .Reservation-btn1{
        margin: auto;
        height: 50px;
        width: 100%;
        float: center;
        text-align: center;
        border: 2px solid black;
        color: #000;
        background: #f8f9fa;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .Introduction{
        margin: 10px 0px;
        padding: 10px;
        border: 1px solid black;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .FoodMenu{
        margin: 10px 0px;
        padding: 10px;
        border: 1px solid black;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .Location{
        margin: 10px 0px;
        padding: 10px;
        border: 1px solid black;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .Review{
        margin: 10px 0px;
        padding: 10px;
        border: 1px solid black;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }

    /* reservation_OK */

    .ReservationOK-title{
        margin: auto;
        padding-top: 40px;
        font-size: 35px;
        text-align: center;

    }
    .main-btn{
        margin: auto;
        max-width: 500px;
        position: inherit;
        width: 100%;
        height: 100%;
        left:50%;
        padding-top:50px;
    }
    .main-btn1{
        margin: 20px 0px 0px 18px;
        height: 40px;
        width: 95%;
        text-align: center;
        border: 2px solid black;
        color: #000;
        background: #f8f9fa;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }

    /* reservation */

    .Reservation{
        margin:auto;
        width: 350px;
        padding-bottom: 5%;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .Reservation-title{
        margin:auto;
        padding-top:10px;
        padding-left:10px;
        font-size:30px;
        text-align: left;
    }
    .date{
        width:95%;
        height:40px;
        border: 2px solid black;
        color: #000;
        background: #f8f9fa;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
        text-align: center;
    }
    .time{
        width:95%;
        height:40px;
        border: 2px solid black;
        color: #000;
        background: #f8f9fa;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
        text-align: center;
    }
    .Reservation-btn{
        padding-top: 70px;
    }
    .Reservation-btn1{
        margin: auto;
        height: 40px;
        width: 95%;
        float: center;
        text-align: center;
        border: 2px solid black;
        color: #000;
        background: #f8f9fa;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
}

/* management_modify */

.modify{
    margin:auto;
    width: 600px;
    padding-bottom: 30px;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.store_name1{
    width: 80%;
}

.store_intro1{
    width: 80%;
    height: 100px;
}

.mod_location1{
    width: 80%;
}

/* management */

.management{
    margin: auto;
    width: 60vw;
}

/*---------------------------------------------------------------------------*/




@media(max-width:990px) {

        /* main */

    .navbar{
        height: 70px;
        font-size: 20px;
    }
    .title-div{
        margin:auto;
        padding-top: 30px;
        width:250px;
        text-align: center;
        float:center;
    }
    .title{
        font-size:50px;
    }
    .sub-title{
        font-size: 20px;
    }
    .search{
        margin: auto;
        float: center;
        text-align: center;
        padding-top: 50px;
    }
    .search-txt{
        height: 50px;
        width: 300px;
        padding: 10px;
        border: 2px solid black;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
        outline: none;
    }
    .search-btn{
        height: 50px;
        width: 70px;
        background: white;
        border: 2px solid black;
        color: #000;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }

    .road-search-btn{
        margin-top: 5px;
        height: 50px;
        width: 375px;
        background: white;
        border: 2px solid black;
        color: #000;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }

    .notice1{
        height:80px;
        width: 370px;
        margin: auto;
        padding-top: 50px;
        text-align: center;
        float: center;
        font-size: 18px;
    }

    /* signin */

    .Login-title{
        margin:auto;
        padding-top:50px;
        font-size:50px;
        text-align: center;
        float: center;
    }
    .form{
        height:none;
        width:400px;
        margin: auto;
        padding-top: 10px;
        border: 2px solid #f8f9fa;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
        background: #f8f9fa;
    }
    .form1{
        margin: auto;
        padding: 10px 20px 10px 20px;
    }
    .Login-id{
        margin: auto;
        width: 300px;
        float: center;
        text-align: left;
        border: 2px solid black;
        color: #000;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .Login-pw{
        margin: auto;
        width: 300px;
        float: center;
        text-align: left;
        border: 2px solid black;
        color: #000;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .Login-btn1{
        padding-top: 30px;
    }
    .Login-btn{
        margin: auto;
        height: 40px;
        width: 300px;
        float: center;
        text-align: center;
        border: 2px solid black;
        color: #000;
        background: #f8f9fa;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .GLogin-btn1{
        padding-top: 30px;
    }
    .GLogin-btn{
        margin: auto;
        height: 40px;
        width: 300px;
        float: center;
        text-align: center;
        border: 2px solid black;
        color: white;
        background: #4285f4;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .KLogin-btn1{
        padding-top: 5px;
    }
    .KLogin-btn{
        margin: auto;
        height: 40px;
        width: 300px;
        float: center;
        text-align: center;
        border: 2px solid black;
        color: #000;
        background: #ffeb00;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    /* sign up */

    .Signup-title{
        margin:auto;
        padding-top:50px;
        font-size:50px;
        text-align: center;
        float: center;
    }
    .signup-form{
        height:none;
        width:400px;
        margin: auto;
        padding-top: 10px;
        border: 2px solid #f8f9fa;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
        background: #f8f9fa;;
    }
    .signup-form1{
        margin: auto;
        padding: 10px 20px 10px 20px;
    }
    .Signup-id{
        margin: auto;
        width: 300px;
        float: center;
        text-align: left;
        border: 2px solid black;
        color: #000;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .Name{
        margin: auto;
        width: 300px;
        float: center;
        text-align: left;
        border: 2px solid black;
        color: #000;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .Signup-pw{
        margin: auto;
        width: 300px;
        float: center;
        text-align: left;
        border: 2px solid black;
        color: #000;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .Signup-pw1{
        margin: auto;
        width: 300px;
        float: center;
        text-align: left;
        border: 2px solid black;
        color: #000;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .checks{
        padding: 30px;
        width: 300px;
        float: center;
        text-align: center;
        font-size: 25px;

    }
    .Signup-btn1{
        padding-top: 15px;
        padding-left: 20px;
    }
    .Signup-btn{
        margin: auto;
        height: 40px;
        width: 300px;
        float: center;
        text-align: center;
        border: 2px solid black;
        color: #000;
        background: #f8f9fa;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }

    /* result */

    .Result-title{
        font-size:50px;
        padding-left: 10px;
        padding-bottom: 10px;
    }
    .wrapper{
        margin: auto;
        width: 95%;
        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-gap: 10px;
        background-color: #f8f9fa;
        color: #444;
    }
    .card{
        width:100%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
        padding-bottom: 1px;
    }
    img {
        border-radius: 5px 5px 0 0;
    }

    /* info */

    .Information{
        margin:auto;
        width: 90%;
        padding-bottom: 5%;
        border-radius: 0.5em 0.5em 0.5em 0.5em;

    }
    .Info-title{
        margin:auto;
        padding-top:10px;
        padding-left:10px;
        font-size:30px;
        text-align: left;
        float: center;
    }
    .FoodPhoto{
        float: center;
        text-align: center;
        border: 1px solid black;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .Reservation-btn{
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }
    .Reservation-btn1{
        margin: auto;
        height: 50px;
        width: 100%;
        float: center;
        text-align: center;
        border: 2px solid black;
        color: #000;
        background: #f8f9fa;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .Introduction{
        margin: auto;
        padding: 10px;
        border: 1px solid black;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .FoodMenu{
        margin: auto;
        padding: 10px;
        border: 1px solid black;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .Location{
        margin: auto;
        padding: 10px;
        border: 1px solid black;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .Review{
        margin: auto;
        padding: 10px;
        border: 1px solid black;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }

    /* reservation */

    .Reservation{
        margin:auto;
        width: 90%;
        padding-bottom: 5%;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .Reservation-title{
        margin:auto;
        padding-top:10px;
        padding-left:10px;
        font-size:30px;
        text-align: left;
    }
    .date{
        width:95%;
        height:40px;
        border: 2px solid black;
        color: #000;
        background: #f8f9fa;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
        text-align: center;
    }
    .time{
        width:95%;
        height:40px;
        border: 2px solid black;
        color: #000;
        background: #f8f9fa;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
        text-align: center;
    }
    .Reservation-btn{
        padding-top: 70px;
    }
    .Reservation-btn1{
        margin: auto;
        height: 40px;
        width: 95%;
        float: center;
        text-align: center;
        border: 2px solid black;
        color: #000;
        background: #f8f9fa;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }

    /* reservation_OK */

    .ReservationOK{
        margin:auto;
        width: 90%;
        padding-bottom: 5%;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .ReservationOK-title{
        margin: auto;
        padding-top: 40px;
        font-size: 35px;
        text-align: center;
    }
    .main-btn{
        position: inherit;
        width: 100%;
        height: 100%;
        left:50%;
        padding-top:50px;
    }
    .main-btn1{
        margin: 20px 0px 0px 18px;
        height: 40px;
        width: 95%;
        text-align: center;
        border: 2px solid black;
        color: #000;
        background: #f8f9fa;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }

    /* management_modify */

    .modify{
        margin:auto;
        width: 600px;
        padding-bottom: 30px;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .store_name1{
        width: 80%;
    }
    .store_intro1{
        width: 80%;
        height: 100px;
    }
    .mod_location1{
        width: 80%;
    }

    /* Restaurant_register */
    .Restaurant_register_frame{
        margin : auto;
        width : 80%;
    }
    #shop-title{
        padding-top : 10px;
        padding-left : 15px;
    }
    #shop-subtitle{
        padding-top : 10px;
        padding-left : 15px;
    }
    .shop-name-frame{
        padding-top : 10px;
        padding-left : 15px;
    }
    .shop-name-input{
        margin: auto;
        width: 300px;
        float: center;
        text-align: left;
        border: 2px solid black;
        color: #000;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .shop-img-frame{
        padding-top : 10px;
        padding-left : 15px;
    }
    .shop-img-btn{
        margin-top: 5px;
        height: 50px;
        width: 375px;
        background: white;
        border: 2px solid black;
        color: #000;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .food-title{
        padding-top : 10px;
        padding-left : 15px;
    }
    .filebox {
        padding-top : 10px;
        padding-left : 15px;
    }
    .filebox label {
        padding-top : 10px;
        padding-left : 15px;
        display: inline-block;
        padding: .5em .75em;
        color:black;
        font-size: inherit;
        line-height: normal;
        vertical-align: middle;
        background-color: white;
        cursor: pointer;
        border: 2px solid black;
        border-radius: .25em;
    }
    .filebox input[type="file"] {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip:rect(0,0,0,0);
        border: 0;
    }
    .food-img-frame{
        padding-top : 10px;
        padding-left : 15px;
    }
    .shop-info-frame{
        padding-top : 10px;
        padding-left : 15px;
    }
    .food-info-frame{
        padding-top : 10px;
        padding-left : 15px;
    }
    .shop-address-frame{
        padding-top : 10px;
        padding-left : 15px;
    }

    .new-address-btn{
        margin-top: 5px;
        height: 40px;
        width: 100px;
        background: white;
        border: 2px solid black;
        color: #000;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .new-addredd-input{
        margin-top: 5px;
        height: 40px;
        width: 100px;
        background: white;
        border: 2px solid black;
        color: #000;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    .register-btn{
        padding-top : 10px;
        padding-left : 15px;
    }
    .register-btn1{
        background: white;
        border: 2px solid black;
        color: #000;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
        height: 40px;
        width: 160px;
    }
}