{% extends 'base.html' %}
{% block body %}
{% load static %}

            <div class="Reservation">
                <div class="Reservation-title">
                        <a>예약하기</a>
                    </div>
                <div class="Reservation-form">
                    <label for="people"  style="padding-left:10px;">인원</label><br>
                    <form method="POST" action="#" style="padding-left: 10px">
                            {% csrf_token %}

                        <select name = "sum">
                            <option value = 1>1명</option>
                            <option value = 2>2명</option>
                            <option value = 3>3명</option>
                            <option value = 4>4명</option>
                            <option value = 5>5명</option>
                        </select><br>
                        <label for="time">예약날짜 및 시간</label><br>
                        <input type="date" class="date" name = "date"><br><br>
                        <input type="time" class="time" name = "time"><br><br>

                        <div class=Reservation-btn>
                                <button type="submit" onclick = "location.href = '{% url 'reservation_ok' %}'" class="Reservation-btn1">예약하기</button>
                                </div>
                        </form>
                    <a style="padding-left: 10px">예약시간 5분 초과시 예약이 취소됩니다!</a><br>
                    
                </div>
            </div>

            {% endblock %}