{% extends 'base.html' %}
{% block body %}
{% load static %}

<!-- 화이팅 -->
<div class="wrapper">
    {% for part in posts %}
        <div class="card" onclick = "location.href = '{% url 'info_real' part.id %}'">
            <img src="{% static 'img/1.png' %}" alt="TestImg" style="width:100%">
            <h4 style="padding-left: 3px;">{{part.shopname}}</h4>
            <p style="padding-left: 3px;">{{part.shop_description}}</p>
        </div>
    {% endfor %}                
</div>

{% endblock %}